@{
    ViewBag.Title = "Crear";
}
<h2>Crear</h2>
<form action="/Categoria/CrearCategoria" method="post">
    <input type="text" name="categoria.nombre" />
    <input type="text" name="categoria.descripcion" />
    <input type="submit" value="Guardar" />
</form>