@model List<MvcApplication1.Models.ModoPago>

@{
    ViewBag.Title = "Modos de Pago";
}
<style>
    #alerta {
        background-color: #aaffcc;
        padding: 10px;
        display: inline-block;
        width: 100%;
        animation: aparecer 2s;
    }

    article {
        width: 20%;
        margin: 10px;
        padding: 10px;
        float: left;
        background-color: #aaccff;
    }

    @@keyframes aparecer {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
</style>
<div class="body padding">
    <div class="container">
        <h2 class="text-center text-success">Listado de Modos de Pago</h2>
        <div class="well well-sm"><a class="btn btn-primary" href="~/ModoPago/Crear">Nuevo Modo de Pago</a></div>
        @if (Request.Params["Msg"] != null)
        {
            <span id="alerta">@Request.Params["Msg"]</span>
        }
        <table class="table table-hover table-striped">
            <thead>
                <tr class="bg-primary">
                    <th>ID de Modo de Pago</th>
                    <th>Nombre</th>
                    <th>Detalles</th>

                    <th colspan="2">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var objVendedor in Model)
                {
                    <tr>
                        <td>@objVendedor.numPago</td>
                        <td>@objVendedor.nombre</td>
                        <td>@objVendedor.otroDetalles</td>
                        <td><a class="btn btn-info" href="~/ModoPago/Editar/@objVendedor.numPago"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>
                        <td><a class="btn btn-danger" href="~/ModoPago/Eliminar/@objVendedor.numPago"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>