@model List<MvcApplication1.Models.ModoPago>

@{
    ViewBag.Title = "Modos de Pago";
}

<style>
    #alerta {
        background-color: #aaffcc;
        padding: 10px;
        display: inline-block;
        width: 100%;
        animation: aparecer 2s;
    }

    article {
        width: 20%;
        margin: 10px;
        padding: 10px;
        float: left;
        background-color: #aaccff;
    }

    @@keyframes aparecer {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
</style>
<br />
<br />
<h2>Los Modos de Pago</h2>
<div class="container">
    <a href="/ModoPago/Crear">Agregar una modoPago</a><br />

    @if (Request.Params["Msg"] != null)
    {
        <span id="alerta">@Request.Params["Msg"]</span>
    }


    @foreach (var modoPago in Model)
    {
        <article>
            <h3>@modoPago.nombre <a href="/ModoPago/Editar/@modoPago.numPago">Editar</a>  <a href="/ModoPago/Eliminar/@modoPago.numPago">Elimimar</a></h3>
        </article>

    }



    </div>



    <style>
        .respuesta {
            padding: 10px;
            margin: 10px;
            display: inline-block;
            background-color: #aaffaa;
            animation: aparecer 1s;
        }

        section article {
            padding: 10px;
            margin: 10px;
            width: 20%;
            background-color: #b6ff00;
            float: left;
            transition: all 1s;
            text-align: center;
        }

            section article img {
                width: 100%;
                height: 100px;
            }

            section article:hover {
                transform: scale(1.05,1.05);
                background-color: #d8ff22;
                transition: all 1s;
            }


        @@keyframes aparecer {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    </style>
    <h2>Todos los Modos de Pago</h2>
<div class="container">
    <form id="formulario">
        <input type="text" name="nombre" placeholder="nombre" /><br />
        <input type="text" name="otroDetalles" placeholder="otroDetalles" /><br />
        <button type="button" onclick="obtenerdatos()">Enviar datos al servidor </button>
    </form>
    </div>
    <div id="respuestaajax">

    </div>
    <script>
        class ModoPago {
            constructor(nombre, otroDetalles) {
                this.nombre = nombre;
                this.otroDetalles = otroDetalles;
            }
        }

        function obtenerdatos() {
            var divresp = document.getElementById("respuestaajax");
            var objform = document.getElementById("formulario");
            var objmodoPago = new ModoPago(objform.nombre.value, objform.otroDetalles.value);
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {

                    var data = JSON.parse(this.responseText);
                    console.log(data);
                    if (data.Respuesta == "Ok") {
                        var str = "<article id='modoPago_" + data.Id + "'>";
                        str += "<h3>" + objmodoPago.nombre + "</h3>";
                        str += "<p>" + objmodoPago.otroDetalles + "</p>";
                        str += "<a href='#' >ver más ...</a>";
                        str += "</article>";
                        var seccion = document.getElementById("cuerpomodoPago");
                        seccion.innerHTML += str;
                        divresp.innerHTML = "<span class='respuesta'>ModoPago insertado con éxito</span>";
                    }
                }
            };
            xhttp.open("POST", "/ModoPago/AgregarModoPago", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("nombre=" + objmodoPago.nombre + "&otroDetalles=" + objmodoPago.otroDetalles);
        }


    </script>
<div class="container">
    <section id="cuerpomodoPago">
        @foreach (var modoPago in Model)
        {
            <article>
                <h3>@modoPago.nombre</h3>
                <p>@modoPago.otroDetalles</p>
                <a href="#">ver más ...</a>
            </article>
        }
    </section>
    </div>