@{
    ViewBag.Title = "Sobre Nosotros";
}
<div class="body padding">
    <div class="container">
        <h2>@ViewBag.Title.</h2>
        

        <p>Somos una Tienda en Linea para Comprar y Vender de Todo tipo de Productos a todo Chile!</p>
        </div>
</div>