@{
    ViewBag.Title = "Contactanos";
}
<div class="body padding">
    <div class="container">
        <h2>@ViewBag.Title.</h2>

        <address>
            1234 La Tienda<br />
            Santiago, Region Metropolitana, Chile<br />
            <abbr title="Telefono">Telefono:</abbr>
            +56-9-9934-4324
        </address>

        <address>
            <strong>Soporte:</strong>   <a href="mailto:Soporte@eTienda.cl">Soporte@eTienda.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@eTienda.cl">Marketing@eTienda.com</a>
        </address>
        </div>
</div>